<body>
    <div class="not-found-container">
        <img src="assets/not-found/not-found.png" alt="not-found robot">
        <div class="details">
            <h1>Error 404</h1>
            <p>Esta página no se pudo encontrar</p>
            <span>Puedes quedarte aquí o volver al principio.</span>
            <button routerLink="/landing">
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="18" viewBox="0 0 16 9">
                    <rect width="16" height="9" fill="none" />
                    <path fill="#292F4A" d="M12.5 5h-9c-.28 0-.5-.22-.5-.5s.22-.5.5-.5h9c.28 0 .5.22.5.5s-.22.5-.5.5" />
                    <path fill="#292F4A" d="M6 8.5a.47.47 0 0 1-.35-.15l-3.5-3.5c-.2-.2-.2-.51 0-.71L5.65.65c.2-.2.51-.2.71 0s.2.51 0 .71L3.21 4.51l3.15 3.15c.2.2.2.51 0 .71c-.1.1-.23.15-.35.15Z" />
                </svg>
                Volver al inicio
            </button>
        </div>
    </div>
</body>