  <body>
    <div class="event-form">
      <!-- Navigation Steps -->
      <nav class="steps-nav">
        <div class="container">
          <div class="steps-container">
            <button *ngFor="let step of steps; let i = index"
                    (click)="setStep(i)"
                    [class.active]="currentStep === i">
              {{ step }}
            </button>
          </div>
        </div>
      </nav>
    
      <!-- Form Content -->
      <div class="container">
        <form  *ngIf="currentStep === 0">
          <div class="form-sections">
            <!-- Cover Photo Upload -->
            <div class="form-section">
              <h3>Foto de Portada</h3>
              <div class="cover-upload">
                <input type="file"
                      accept="image/*"
                      (change)="onFileSelected($event)"
                      class="file-input">
                <ng-container *ngIf="coverImage; else uploadPrompt">
                  <img [src]="coverImage"
                      alt="Cover"
                      class="cover-preview">
                </ng-container>
                <ng-template #uploadPrompt>
                  <div class="upload-prompt">
                    <p>Sube una foto de 1280x720 px</p>
                    <button type="button" class="btn-upload">Subir Foto</button>
                  </div>
                </ng-template>
              </div>
            </div>
    
            <!-- Event Details -->
            <div class="form-section">
              <h3>Evento</h3>
              <div class="form-grid">
                <div class="form-group">
                  <label>Tipo de evento</label>
                  <select class="select" formControlName="eventType">
                    <option value="competitivo">Competitivo</option>
                    <option value="amistoso">Amistoso</option>
                  </select>
                </div>
                <div class="form-group">
                  <label>Nombre del torneo</label>
                  <input [(ngModel)]="datafrominputs.name"
                  name="datafrominputs.name"
                  (change)="onchage()"
                        type="text"
                        placeholder="Ingrese nombre del torneo">
                </div>
                <div class="form-group">
                  <label>Fecha de inicio</label>
                  <input [(ngModel)]="datafrominputs.startDate"
                  name="datafrominputs.startDate"
                        type="date">
                </div>
                <div class="form-group">
                  <label>Hora de inicio</label>
                  <input [(ngModel)]="datafrominputs.startTime"
                  name="datafrominputs.startTime"
                        type="time">
                </div>
                <div class="form-group">
                  <label>Zona horaria</label>
                  <select class="select" [(ngModel)]="datafrominputs.timezone" name="datafrominputs.timezone">
                    <option value="utc-03">UTC-03:00 – Chile (Chile Time - CLT)</option>
                    <option value="utc-04">UTC-04:00 – Chile (Chile Time - CLT)</option>
                    <option value="utc-05">UTC-05:00 – Colombia (Colombia Time - CLT)</option>
                    <option value="utc-06">UTC-06:00 – Central (Central Time - CT)</option>
                  </select>
                </div>
                <div class="form-group">
                  <label>Ubicación del evento</label>
                  <div class="radio-group">
                    <label>
                      <input type="radio" 
                            (change)="setlocation('Presencial')"
                            value="presencial"
                            class="form-radio">
                      <span>Presencial</span>
                    </label>
                    <label>
                      <input type="radio"
                            (change)="setlocation('Virtual')"
                            value="virtual"
                            class="form-radio">
                      <span>Virtual</span>
                    </label>
                  </div>
                </div>
              </div>
            </div>
    
            <!-- Game Details -->
            <div class="form-section">
              <h3>Juego</h3>
              <div class="form-grid">
                <div class="form-group">
                  <label>Juego del torneo</label>
                  <select class="select" [(ngModel)]="datafrominputs.game" name="datafrominputs.game">
                    <option value="valorant">Valorant</option>
                    <option value="call">Call of Duty: Warzone/Mobile</option>
                    <option value="lol">League of Legends</option>
                    <option value="Minecraft">Minecraft</option>
                    <option value="Genshin">Genshin Impact</option>
                  </select>
                </div>
                <div class="form-group">
                  <label>Plataforma</label>
                  <select class="select" [(ngModel)]="datafrominputs.platform" name="datafrominputs.platform">
                    <option value="pc">PC</option>
                    <option value="Mobile">Mobile</option>
                    <option value="PS4">PS4</option>
                    <option value="PS5">PS5</option>
                    <option value="XBOX">XBOX</option>
                  </select>
                </div>
                <div class="form-group">
                  <label>Número de participantes</label>
                  <div class="radio-group">
                    <label>
                      <input type="radio"
                            (change)="setGameMode('Individual')"
                            value="individual"
                            class="form-radio">
                      <span>Individual</span>
                    </label>
                    <label>
                      <input type="radio"
                            (change)="setGameMode('Equipos')"
                            value="equipos"
                            class="form-radio">
                      <span>Equipos</span>
                    </label>
                  </div>
                </div>
                <div class="form-group">
                  <label>Tamaño de equipo</label>
                  <select class="select" [(ngModel)]="datafrominputs.teamSize" name="datafrominputs.teamSize">
                    <option value="1">1 jugadores</option>
                    <option value="2">2 jugadores</option>
                    <option value="3">3 jugadores</option>
                    <option value="4">4 jugadores</option>
                    <option value="5">5 jugadores</option>
                    <option value="6">6 jugadores</option>
                  </select>
                </div>
                <div class="form-group">
                  <label>Número de suplentes</label>
                  <select class="select" [(ngModel)]="datafrominputs.substitutes" name="datafrominputs.substitutes">
                    <option value="1">1 suplentes</option>
                    <option value="2">2 suplentes</option>
                    <option value="3">3 suplentes</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
          <!-- Navigation Buttons -->
        <div class="nav-buttons">
          <button (click)="previousStep()" class="btn-prev">
            Anterior
          </button>
          <button (click)="nextStep()" class="btn-next">
            Siguiente
          </button>
        </div>
        </form>
    
        

        <form [formGroup]="tournamentFormatForm" *ngIf="currentStep === 1">
          <div class="form-sections">
            <!-- Tipo de encuentro -->
            <div class="form-section">
              <h3>Tipo de encuentro</h3>
              <div class="tournament-type-grid">
                <label class="tournament-type-option" [class.selected]="tournamentFormatForm.get('matchType')?.value === 'duel'">
                  <input type="radio"
                        (change)="setFormat ('Doble eliminación')"
                        formControlName="matchType" 
                        value="duel" 
                        class="form-radio">
                  <i class="vs-icon"></i>
                  <span>Duelo (VS)</span>
                </label>
                <label class="tournament-type-option" [class.selected]="tournamentFormatForm.get('matchType')?.value === 'ffa'">
                  <input type="radio" 
                        (change)="setFormat ('Todos contra todos')" 
                        formControlName="matchType" 
                        value="ffa" 
                        class="form-radio">
                  <i class="ffa-icon"></i>
                  <span>Todos contra todos (FFA)</span>
                </label>
              </div>

              <!--Tipo de fase-->
              <h3>Tipo de fase</h3>
              <div class="phase-type-grid">
                <label class="phase-type-option" [class.selected]="tournamentFormatForm.get('phaseType')?.value === 'single'">
                  <input type="radio" 
                        (change)="setFormat ('Eliminación simple')"
                        formControlName="phaseType" 
                        value="single" 
                        class="form-radio">
                  <img src="/assets/single-elimination-icon.svg" alt="Single Elimination">
                  <span>Eliminación simple</span>
                </label>
                <label class="phase-type-option" [class.selected]="tournamentFormatForm.get('phaseType')?.value === 'double'">
                  <input type="radio" 
                        (change)="setFormat ('Doble eliminación')"
                        formControlName="phaseType" 
                        value="double" 
                        class="form-radio">
                  <img src="/assets/double-elimination-icon.svg" alt="Double Elimination">
                  <span>Doble Eliminación</span>
                </label>
                <label class="phase-type-option" [class.selected]="tournamentFormatForm.get('phaseType')?.value === 'custom'">
                  <input type="radio" 
                        (change)="setFormat ('Ronda personalizada')"
                        formControlName="phaseType" 
                        value="custom" 
                        class="form-radio">
                  <img src="/assets/custom-round-icon.svg" alt="Custom Round">
                  <span>Ronda personalizada</span>
                </label>
              </div>
            </div>

    
            <!-- Estructura de fase -->
            <div class="form-section">
              <h3>Estructura de fase</h3>
              <div class="form-grid">
                <div class="form-group">
                  <label>Nombre de la fase</label>
                  <input type="text" 
                        formControlName="phaseName">
                </div>
                <div class="form-group">
                  <label>Orden en el torneo</label>
                  <input type="number" 
                        formControlName="tournamentOrder">
                </div>
                <div class="form-group">
                  <label>Número de participantes en esta fase</label>
                  <input type="number" 
                        formControlName="participantsCount">
                </div>
                <div class="form-group">
                  <label>¿Permitir descanso de 2 y 4 o más?</label>
                  <div class="radio-group">
                    <label>
                      <input type="radio" 
                            formControlName="allowBreaks" 
                            value="yes" 
                            class="form-radio">
                      <span>Sí</span>
                    </label>
                    <label>
                      <input type="radio" 
                            formControlName="allowBreaks" 
                            value="no" 
                            class="form-radio">
                      <span>No</span>
                    </label>
                  </div>
                </div>
              </div>
            </div>
    
            <!-- Avanzado -->
            <div class="form-section">
              <h3>Avanzado</h3>
              <div class="form-grid">
                <div class="form-group">
                  <label>Número de clasificados</label>
                  <input type="number" 
                        formControlName="qualifiersCount">
                </div>
                <div class="form-group">
                  <label>Posicionamiento</label>
                  <div class="radio-group">
                    <label>
                      <input type="radio" 
                            formControlName="positioning" 
                            value="automatic" 
                            class="form-radio">
                      <span>Sí</span>
                    </label>
                    <label>
                      <input type="radio" 
                            formControlName="positioning" 
                            value="manual" 
                            class="form-radio">
                      <span>No</span>
                    </label>
                  </div>
                </div>
                <div class="form-group">
                  <label>Ajustes adicionales</label>
                  <select class="select" formControlName="additionalSettings">
                    <option value="format1">Formato horneado</option>
                    <!-- Agregar más opciones según sea necesario -->
                  </select>
                </div>
                <div class="form-group">
                  <label>¿Activar salas de chat por enfrentamiento?</label>
                  <div class="radio-group">
                    <label>
                      <input type="radio" 
                            formControlName="enableChatRooms" 
                            value="yes" 
                            class="form-radio">
                      <span>Sí</span>
                    </label>
                    <label>
                      <input type="radio" 
                            formControlName="enableChatRooms" 
                            value="no" 
                            class="form-radio">
                      <span>No</span>
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>
    
          <!-- Navigation Buttons -->
          <div class="nav-buttons">
            <button (click)="previousStep()" class="btn-prev">
              Anterior
            </button>
            <button (click)="nextStep()" class="btn-next">
              Siguiente
            </button>
          </div>
        </form>

        <form  *ngIf="currentStep === 2">
          <div class="form-section">
            <div class="form-group">
              <h3>Reglas de torneo</h3>
                  <input [(ngModel)]="datafrominputs.rules" name="datafrominputs.rules" 
                        type="text"
                        placeholder="Reglas del evento">
            </div>
            <div class="form-group">
              <label>¿Los jugadores deben aceptarlas?</label>
              <div class="radio-group">
                <label>
                  <input type="radio" 
                         (change)="setAcceptrules(true)" 
                        formControlName="aceptrules" 
                        value="yes" 
                        class="form-radio">
                  <span>Sí</span>
                </label>
                <label>
                  <input type="radio" 
                  (change)="setAcceptrules(false)"
                        formControlName="aceptrules" 
                        value="no" 
                        class="form-radio">
                  <span>No</span>
                </label>
              </div>
            </div>
          </div>  
          <!-- Navigation Buttons -->
          <div class="nav-buttons">
            <button (click)="previousStep()" class="btn-prev">
              Anterior
            </button>
            <button (click)="nextStep()" class="btn-next">
              Siguiente
            </button>
          </div>     
        </form>


        <!-- Participants Form -->
    <form [formGroup]="participantsForm" *ngIf="currentStep === 3">
      <div class="form-section">
        <h3>Invitar</h3>
        <form [formGroup]="participantsForm" (ngSubmit)="addPlayer()" class="invite-form">
          <div class="input-group">
            <input type="text"
                  [(ngModel)]="datafrominputs.participant"
                  formControlName="playerInput"
                  placeholder="Nombre de usuario o correo electrónico"
                  class="player-input">
            <button type="submit"
                    (click)="addParticipant(datafrominputs.participant)"
                    [disabled]="!participantsForm.valid"
                    class="btn-send">
              Enviar
            </button>
          </div>
        </form>

        <!-- Invited Players List -->
        <div class="invited-players" *ngIf="invitedPlayers.length > 0">
          <h4>Jugadores invitados</h4>
          <div class="players-list">
            <div *ngFor="let player of invitedPlayers; let i = index" class="player-item">
              <span>{{ player }}</span>
              <button class="btn-remove" (click)="removePlayer(i)">
                ×
              </button>
            </div>
          </div>
        </div>
      </div>
  <!-- Navigation Buttons -->
          <div class="nav-buttons">
            <button (click)="previousStep()" class="btn-prev">
              Anterior
            </button>
            <button (click)="nextStep()" class="btn-next">
              Siguiente
            </button>
          </div>     
    </form>

    <form [formGroup]="linksForm" *ngIf="currentStep === 4">
      <div class="form-section">
        <h3>Conectar</h3>
        
        <div class="links-container">
          <div *ngFor="let platform of platforms" class="link-group">
            <div class="input-group">
              <input type="url"
                    [(ngModel)]="datafrominputs.links[platform.name]"
                    [formGroup]="linksForm"
                    formControlName="linkInput"
                    [placeholder]="platform.placeholder"
                    class="link-input">
              <button (click)="addLink(platform.name)"
                      [disabled]="!linksForm.valid"
                      class="btn-add">
                Añadir
              </button>
            </div>
          </div>

          <!-- Added Links List -->
          <div class="added-links" *ngIf="socialLinks.length > 0">
            <div *ngFor="let link of socialLinks; let i = index" class="link-item">
              <span>{{ link.platform }}: {{ link.url }}</span>
              <button class="btn-remove" (click)="removeLink(i)">
                ×
              </button>
            </div>
          </div>
        </div>
      </div>

      <!-- Navigation Buttons -->
      <div class="nav-buttons">
        <button (click)="previousStep()" class="btn-prev">
          Anterior
        </button>
        <button (click)="createEvent()" class="btn-create" type="button">
          Crear evento
        </button>
      </div>
    </form>

    <div class="success-modal" *ngIf="showSuccessModal">
      <div class="modal-content">
        <h2>Tu evento ha sido creado</h2>
        <button (click)="viewEvent()" class="btn-view">
          Ver evento
        </button>
      </div>
    </div>
  </div>
    </div>
    
  </body>
