<main>
    <section>
        <div class="banner">
            <img src="/assets/teams/destoks 1/EGS_VALORANT_RiotGames_S1_2560x1440-6608fb6c4c56c07b9a7caa34c6e6ee37.jpg" alt="banner valorant">
            <div class="gradient"></div>
        </div>
        <!-- Información del equipo -->
        <article class="article-info">
        <!-- Informacion del equipo, como nombre de creador y datos si esta on line o no, calificacion estrella-->
            <div class="Info-team">
                <h1>Shadowhunters team</h1>
                <p class="created-by">Creado por: <span> <a href="">Usarname</a></span></p>
                <button class="button-live">
                    <i class="bi bi-circle-fill"></i>
                    Jugando ahora
                </button>
                <div class="button-devices">
                    <button><i class="bi bi-star-fill"></i> valorant</button>
                    <button><i class="bi bi-star-fill"></i>PC</button>
                    <button><i class="bi bi-star-fill"></i>FPS</button>
                </div>
            </div>
            <!-- Datos basicos como cantidad de miembros, premios, compartir y like -->
            <div class="data-team">
                <div class="Number-data">
                <div>
                    <i class="fa-solid fa-people-group"></i>
                    <span>15</span>
                    <span>miembros</span>
                </div>
                <div>
                    <i class="fa-solid fa-trophy"></i>
                    <span>Trofeos</span>
                </div>
                </div>
                <div class="action-team">
                    <button><i class="bi bi-bell-fill"></i></button>
                    <button><i class="fa-solid fa-share-nodes"></i></button>
                    <button>Seguir<i class="bi bi-heart-fill"></i></button>
                </div>
            </div>
        </article>
<!-- Article del contenido de los eventos  -->
        <article class="card-play">
            <div class="content-card"> 
              <div class="cont-img">
                <img src="/assets/teams/destoks 1/EGS_LeagueofLegends_RiotGames_S1_2560x1440-80471666c140f790f28dff68d72c384b.jpg" alt="Gran-turismo">
              </div>
              <div class="two-cont">
                <div class="text-card">
                  <h4>Titans</h4>
                  <span>Evento activo en este momento</span>
                </div>
                <div class="icon-card">
                  <i class="bi bi-person-fill"></i>
                    <span class="number-card">0</span> / <span class="number-card"> 20</span>
                </div>
                <div class="info-card">
                     <div class="info-button">
                        <ol>
                            <li><a href=""><i class="bi bi-award"></i>Dispositivo</a></li>
                            <li><a href=""><i class="bi bi-award"></i>Género</a></li>
                            <li><a href=""><i class="bi bi-award"></i>Premiación</a></li>
                        </ol> 
                         </div> 
                      <button class="button-Ver">Registrarse</button>
                </div>
              </div>
            </div>
        </article>

<!-- Aticle de información del equipo, descripción del equipo, presentación, atitudes entre otros. -->
        <article class="we-info">
            <h5>Nosotros</h5>
            <div>
                <p>
                    Somos Shadowhunters Team, un equipo de gamers apasionados que combina habilidad, estrategia y trabajo en equipo para dominar cada partida. Nos destacamos por nuestra dedicación, enfoque competitivo y espíritu indomable, siempre listos para enfrentarnos a cualquier desafío y superar los límites. <br>
                    ¿Qué nos define?<br>
                    &#x1F5A4; Determinación Oscura: Como verdaderos cazadores de sombras, exploramos lo desconocido y enfrentamos a nuestros rivales con precisión y audacia. <br>
                    &#127919; Estrategia Perfecta: Cada movimiento está planificado; cada partida es un campo de pruebas para innovar y perfeccionar nuestras tácticas. <br>
                    &#129309;Unidad Inquebrantable: Más que un equipo, somos una familia que se apoya y crece junta, enfrentando cada desafío como uno solo. <br>
                    Nuestra Misión <br>
                    Conquistar cada torneo, destacar en la comunidad gamer y llevar el nombre de Shadowhunters Team a lo más alto. Ya sea en Valorant, League of Legends o cualquier arena, luchamos con el corazón de cazadores, siempre buscando la victoria.
                </p>
            </div>
        </article>
    </section>
</main>
