<body>
    <div class="help-container">
        <a routerLink="/user-profile">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                <rect width="24" height="24" fill="none" />
                <g fill="none" stroke="#94B1F9" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
                    <path d="M21 12h-17.5" />
                    <path d="M3 12l7 7M3 12l7 -7" />
                </g>
            </svg>
            Volver al perfil
        </a>
        <section>
            <h6>Torneos</h6>
            <div class="help-description">
                <ul>
                    <li>Crear un torneo</li>
                    <li>Soluciona errores al crear torneos</li>
                </ul>
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="18" viewBox="0 0 16 9">
                    <rect width="16" height="9" fill="none" />
                    <path fill="#E8EEFE" d="M12.5 5h-9c-.28 0-.5-.22-.5-.5s.22-.5.5-.5h9c.28 0 .5.22.5.5s-.22.5-.5.5" />
                    <path fill="#E8EEFE"
                        d="M10 8.5a.47.47 0 0 1-.35-.15c-.2-.2-.2-.51 0-.71l3.15-3.15l-3.15-3.15c-.2-.2-.2-.51 0-.71s.51-.2.71 0l3.5 3.5c.2.2.2.51 0 .71l-3.5 3.5c-.1.1-.23.15-.35.15Z" />
                </svg>
            </div>
            <div class="help-description">
                <ul>
                    <li>Configuración</li>
                    <li>Ajusta reglas o detalles del torneo</li>
                </ul>
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="18" viewBox="0 0 16 9">
                    <rect width="16" height="9" fill="none" />
                    <path fill="#E8EEFE" d="M12.5 5h-9c-.28 0-.5-.22-.5-.5s.22-.5.5-.5h9c.28 0 .5.22.5.5s-.22.5-.5.5" />
                    <path fill="#E8EEFE"
                        d="M10 8.5a.47.47 0 0 1-.35-.15c-.2-.2-.2-.51 0-.71l3.15-3.15l-3.15-3.15c-.2-.2-.2-.51 0-.71s.51-.2.71 0l3.5 3.5c.2.2.2.51 0 .71l-3.5 3.5c-.1.1-.23.15-.35.15Z" />
                </svg>
            </div>
            <div class="help-description">
                <ul>
                    <li>Personalización</li>
                    <li>Resuelve dudas sobre opciones avanzadas</li>
                </ul>
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="18" viewBox="0 0 16 9">
                    <rect width="16" height="9" fill="none" />
                    <path fill="#E8EEFE" d="M12.5 5h-9c-.28 0-.5-.22-.5-.5s.22-.5.5-.5h9c.28 0 .5.22.5.5s-.22.5-.5.5" />
                    <path fill="#E8EEFE"
                        d="M10 8.5a.47.47 0 0 1-.35-.15c-.2-.2-.2-.51 0-.71l3.15-3.15l-3.15-3.15c-.2-.2-.2-.51 0-.71s.51-.2.71 0l3.5 3.5c.2.2.2.51 0 .71l-3.5 3.5c-.1.1-.23.15-.35.15Z" />
                </svg>
            </div>
        </section>
        <section>
            <h6>Participantes</h6>
            <div class="help-description">
                <ul>
                    <li>Registro</li>
                    <li>Ayuda con la inscripción de jugadores</li>
                </ul>
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="18" viewBox="0 0 16 9">
                    <rect width="16" height="9" fill="none" />
                    <path fill="#E8EEFE" d="M12.5 5h-9c-.28 0-.5-.22-.5-.5s.22-.5.5-.5h9c.28 0 .5.22.5.5s-.22.5-.5.5" />
                    <path fill="#E8EEFE"
                        d="M10 8.5a.47.47 0 0 1-.35-.15c-.2-.2-.2-.51 0-.71l3.15-3.15l-3.15-3.15c-.2-.2-.2-.51 0-.71s.51-.2.71 0l3.5 3.5c.2.2.2.51 0 .71l-3.5 3.5c-.1.1-.23.15-.35.15Z" />
                </svg>
            </div>
            <div class="help-description">
                <ul>
                    <li>Equipos</li>
                    <li>Corrige problemas al gestionar equipos</li>
                </ul>
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="18" viewBox="0 0 16 9">
                    <rect width="16" height="9" fill="none" />
                    <path fill="#E8EEFE" d="M12.5 5h-9c-.28 0-.5-.22-.5-.5s.22-.5.5-.5h9c.28 0 .5.22.5.5s-.22.5-.5.5" />
                    <path fill="#E8EEFE"
                        d="M10 8.5a.47.47 0 0 1-.35-.15c-.2-.2-.2-.51 0-.71l3.15-3.15l-3.15-3.15c-.2-.2-.2-.51 0-.71s.51-.2.71 0l3.5 3.5c.2.2.2.51 0 .71l-3.5 3.5c-.1.1-.23.15-.35.15Z" />
                </svg>
            </div>
            <div class="help-description">
                <ul>
                    <li>Conflictos</li>
                    <li>Soluciona disputas entre jugadores</li>
                </ul>
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="18" viewBox="0 0 16 9">
                    <rect width="16" height="9" fill="none" />
                    <path fill="#E8EEFE" d="M12.5 5h-9c-.28 0-.5-.22-.5-.5s.22-.5.5-.5h9c.28 0 .5.22.5.5s-.22.5-.5.5" />
                    <path fill="#E8EEFE"
                        d="M10 8.5a.47.47 0 0 1-.35-.15c-.2-.2-.2-.51 0-.71l3.15-3.15l-3.15-3.15c-.2-.2-.2-.51 0-.71s.51-.2.71 0l3.5 3.5c.2.2.2.51 0 .71l-3.5 3.5c-.1.1-.23.15-.35.15Z" />
                </svg>
            </div>
        </section>
        <section>
            <h6>Soporte técnico</h6>
            <div class="help-description">
                <ul>
                    <li>Conexión</li>
                    <li>Soluciona problemas de acceso</li>
                </ul>
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="18" viewBox="0 0 16 9">
                    <rect width="16" height="9" fill="none" />
                    <path fill="#E8EEFE" d="M12.5 5h-9c-.28 0-.5-.22-.5-.5s.22-.5.5-.5h9c.28 0 .5.22.5.5s-.22.5-.5.5" />
                    <path fill="#E8EEFE"
                        d="M10 8.5a.47.47 0 0 1-.35-.15c-.2-.2-.2-.51 0-.71l3.15-3.15l-3.15-3.15c-.2-.2-.2-.51 0-.71s.51-.2.71 0l3.5 3.5c.2.2.2.51 0 .71l-3.5 3.5c-.1.1-.23.15-.35.15Z" />
                </svg>
            </div>
            <div class="help-description">
                <ul>
                    <li>Errores</li>
                    <li>Arregla fallos en la plataforma</li>
                </ul>
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="18" viewBox="0 0 16 9">
                    <rect width="16" height="9" fill="none" />
                    <path fill="#E8EEFE" d="M12.5 5h-9c-.28 0-.5-.22-.5-.5s.22-.5.5-.5h9c.28 0 .5.22.5.5s-.22.5-.5.5" />
                    <path fill="#E8EEFE"
                        d="M10 8.5a.47.47 0 0 1-.35-.15c-.2-.2-.2-.51 0-.71l3.15-3.15l-3.15-3.15c-.2-.2-.2-.51 0-.71s.51-.2.71 0l3.5 3.5c.2.2.2.51 0 .71l-3.5 3.5c-.1.1-.23.15-.35.15Z" />
                </svg>
            </div>
            <div class="help-description">
                <ul>
                    <li>Actividad sospechosa</li>
                    <li>Reporta accesos no autorizados</li>
                </ul>
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="18" viewBox="0 0 16 9">
                    <rect width="16" height="9" fill="none" />
                    <path fill="#E8EEFE" d="M12.5 5h-9c-.28 0-.5-.22-.5-.5s.22-.5.5-.5h9c.28 0 .5.22.5.5s-.22.5-.5.5" />
                    <path fill="#E8EEFE"
                        d="M10 8.5a.47.47 0 0 1-.35-.15c-.2-.2-.2-.51 0-.71l3.15-3.15l-3.15-3.15c-.2-.2-.2-.51 0-.71s.51-.2.71 0l3.5 3.5c.2.2.2.51 0 .71l-3.5 3.5c-.1.1-.23.15-.35.15Z" />
                </svg>
            </div>
        </section>
    </div>
</body>