.btnComunidades{
    font-size: small;
}

.nav-item {
    list-style: none;
}

/*---- Botón comunidades, mis equipos ---- */

.icon-teams-community {
    width: 12%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 1%;
    align-items: center;
    margin-top: 3px;
}

/* ------------------------ */

.m-5{
    padding: 0 10%;
}

/* ----------------- */

.banner{
    height: 170px;
    display: flex;
    justify-content: center; 
    position: relative;
}

.img-banner{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gradient{
   position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(148,177,249);
    background: linear-gradient(162deg, rgba(148, 176, 249, 0.455) 0%, rgba(245, 161, 253, 0.51) 10%,
     rgba(9, 35, 102, 0.44) 19%, rgba(12, 46, 133, 0.373) 55%, rgba(148, 176, 249, 0.388) 80%, rgba(245, 161, 253, 0.305) 100%);
}

.text-banner{
    color: #e8eefe;
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight:bold;
}

.icon-com {
    color: #e8eefe;
    height: auto;
    display: flex;
    justify-content: center;
    font-size: 25px;
}

/* ---------- EQUIPOS -------- */

h1 {
    font-size: 18px;
    margin: 2% 0 2% 0;
}

h3 {
    font-size: 18px;
    margin-top: 1%;
}

/* contenedor teams  */

h4 {
    font-size: 13px;
}

.icon-card {
    display: flex;
    align-items: center;
    width: 15%;
    display: flex;
    justify-content: space-between;
}

.number-card {
    font-size: 10px;
}

.info-card ol li {
    list-style: none;
    padding: 0;
    margin: 0;
    align-items: center;
    font-size: 11px;
}

.info-card ol li:hover {
    background-color: #515c85;
    border-radius: 3px;
    transition: 0.3s;
    margin: 0;
    padding: 0;
}

.info-card ol li a:hover {
    text-decoration: underline;
}

/* Mis comunidades */

h2 {
    font-size: 30px;
    margin-bottom: 1%;
}

.create-button {
    width: 18vw;
    height: 34vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2439;
    border-radius: 10px;
    border:#94b1f9  dashed 1px; 
}

.card-create {
    width: 18vw;
    height: 34vh;
    display: flex;
    padding: 4%;
    flex-direction: column;
    background-color: #434d7b;
    border-radius: 10px;
    position: relative;
    color: aliceblue;
}

.com{
    font-size: 10px;
    font-weight: 200;
}

.create-team {
    background-color: #94b1f9;
    border: none;
    border-radius: 20px;
    color: #1f2439;
    padding: 0 4%;
    font-size: 10px;
    display: flex;
    gap: 10px;
    align-items: center;
}

.create-team i {
    color: #1f2439;
    font-weight: bold;
    font-size: 22px;
}

.create-team:hover {
    background-color: #e8eefe;
    transition-duration: 0.4s;
}

.cont-myTeams {
    display: flex;
    flex: 0 0 auto;
    gap: 15px;
    padding: 0 5%;
    position: relative;
}

.arrow{
    position: absolute;
    width: 74%;
    display: flex;
    justify-content: space-between;
    margin-top: 7%;
}

.arrow i{
    background-color: #515c85;
    color: aliceblue;
    padding: 5px 9px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 15px;
}

.team-img {
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: center;
    overflow: hidden;
    border-radius: 5px;
    overflow: hidden;
}

.team-img img {
    width: 100%;
    object-fit: cover;
}

.h4-Myteams {
    margin-top: 5%;
}

.If-two ol {
    display: flex;
    gap: 10px;
    margin: 0;
    margin-top: 1%;
    padding: 0;
}

.If-two ol li{
    width: 80%;
}

.ic{
    margin-right: 7%;
}

.bnt-ver2 {
    position: absolute;
    margin-top: 6%;
    margin-left: 57%;
}

/* responsive mobile max with 500px */

@media (max-width: 500px) {
    .main {
        width: 100%;
        height: 100%;
        overflow-y: scroll;
        overflow-x: hidden;
    }

    .banner {
        height: 19vh;
    }

    .img-banner {
        display: none;
    }

    .gradient {
        display: none;
    }

    .container-banner {
        width: 100%;
        margin-top: 15%;
        background-color: #434d7b;
        padding: 2%;
        margin-bottom: 0;
    }

    .remove-tag {
        display: none;
    }

    .filter-btn {
        width: 40%;
        background-color: #1f2439;
        border: #94b1f9 solid 2px;
        color: #94b1f9;
        align-items: center;
        text-align: center;
    }

    .icon-filter {
        color: #94b1f9;
        padding-right: 10%;
    }


    .icon-teams-community {
        width: 100%;
        margin-top: 3%;
    }

    .container-scrolls {
        display: none;
    }

    h1 {
        margin: 5% 0 5% 0;
    }

    .teams {
        align-items: center;
        display: flex;
    }

    .card-play {
        width: 95%;
        height: 15vh;
    }

    .two-cont {
        display: flex;
        justify-content: space-between;
        position: relative;
        margin-top: 2%;
    }

    h3 {
        margin-bottom: 5%;
    }

    h4 {
        font-size: 15px;
    }

    .cont-img {
        height: 11vh;
        border-radius: 15px;
    }

    .icon-card {
        position: absolute;
        width: 20%;
        gap: 10px;
        margin-top: 20%;
        align-items: center;
    }

    .number-card {
        font-size: 14px;
    }

    .info-button {
        gap: 20px;
        justify-content: space-between;
    }

    .info-button ol {
        flex-direction: column;
        align-items: start;
    }

    .info-button ol li {
        font-size: 12px;
        text-align: center;
    }

    .button-Ver {
        display: none;
    }


    h2 {
        margin: 4% 0;
        font-size: 22px;
    }

    .create-button {
        width: 55%;
        height: 200px;
    }

    .view-team {
        width: 50%;
        height: 200px;
        border:  solid red;
    }

    .card-create {
        width: 100%;
        height: 100%;
    }

    .team-img {
        height: 90px;
    }

    .crd {
        margin-top: 71%;
    }

    .C-two {
        margin-top: 15%;
        height: 10%;
        gap: 5px;
        flex-direction: row;
    }

    .ic {
        margin: 5% 0 0 0;
        display: flex;
        justify-content: center;
    }
}