<app-navbar2></app-navbar2>
<body>
  <!-- Contenedor principal de la página de inicio de sesión -->
  <div class="login-container">

    <!-- Sección de imagen del avatar de inicio de sesión -->
    <div class="img-avatar">
      <img src="assets/login/avatar-login.jpg" alt="avatar para el inicio de sesión">
    </div>

    <!-- Formulario de inicio de sesión -->
    <!-- El formulario está vinculado al formulario reactivo 'loginForm' mediante 'formGroup' -->
    <!-- Se ejecuta la función 'onLogin()' al enviar el formulario con ngSubmit -->
    <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
      
      <!-- Primer campo del formulario para el nombre de usuario -->
      <div class="form-group position-relative">
        <!-- Vincula el campo del formulario con 'formControlName' para 'username' -->
        <input type="text" id="username" formControlName="username" placeholder="Nombre de usuario"
          class="form-control" />
        
        <!-- Botón para limpiar el campo de texto del nombre de usuario -->
        <!-- Se muestra solo si el campo tiene un valor -->
        <button *ngIf="loginForm.get('username')?.value" type="button" class="clear-btn"
          (click)="clearInput('username')">
          &#10006; <!-- Icono de cruz para limpiar el campo -->
        </button>
      </div>

      <!-- Segundo campo del formulario para la contraseña -->
      <div class="form-group position-relative">
        <!-- Vincula el campo del formulario con 'formControlName' para 'password' -->
        <input type="password" id="password" formControlName="password" placeholder="Contraseña" class="form-control" />
        
        <!-- Botón para limpiar el campo de texto de la contraseña -->
        <!-- Se muestra solo si el campo tiene un valor -->
        <button *ngIf="loginForm.get('password')?.value" type="button" class="clear-btn"
          (click)="clearInput('password')">
          &#10006; <!-- Icono de cruz para limpiar el campo -->
        </button>
      </div>

      <!-- Muestra un mensaje de error si 'errorMessage' está presente -->
      <!-- Utiliza directiva ngIf para controlar la visibilidad del mensaje de error -->
      <div *ngIf="errorMessage" class="alert alert-danger">
        {{ errorMessage }} <!-- Mensaje de error dinámico que se muestra al usuario -->
      </div>

      <!-- Botón para enviar el formulario -->
      <!-- El botón se desactiva si el formulario es inválido usando la propiedad 'disabled' -->
      <button type="submit" [disabled]="loginForm.invalid" class="btn btn-primary">Inicia sesión
      </button>
    </form>

    <!-- Sección de inicio de sesión con Discord -->
    <div class="discord-login">
      <!-- Al hacer clic, ejecuta 'onDiscordLogin()' para redirigir al usuario a la página de autenticación de Discord -->
      <button (click)="onDiscordLogin()" class="btn btn-secondary">Iniciar sesión con Discord</button>
    </div>

    <!-- Enlace para redirigir a la página de registro si el usuario no tiene cuenta -->
    <hr>
    <p>¿No tienes una cuenta?</p>
    <a routerLink="/signup">Crea una cuenta</a>
  </div>
</body>
