body {
  background-image: url('/assets/login/login-background.jpg');
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat; 
  background-attachment: fixed;
  display: grid;
  place-content: center;
}

.login-container {
  width: 466px;
  height: auto;
  margin: 8rem;
  padding: 32px;
  border-radius: 10px;
  background-color: #292F4A;
  color: white;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
  text-align: center;
}

.img-avatar {
  width: 100%;
  height: auto;
  display: flex;
  margin: 0 0 3rem 0;
  justify-content: center;
  align-items: center;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.form-group {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: inherit;
  border-radius: 6px;
  outline: none;
  border: solid 1px #FAFAFA;
}

input {
  padding: 15px;
  background-color: inherit;
  color: #FAFAFA;
  text-align: center;
  border: none;
  outline: none; /* Elimina el contorno del input */
}

input:focus,
input:hover {
  border: none; /* No aplica borde al hacer foco o hover */
  outline: none; /* Elimina el contorno cuando se selecciona el campo */
  background-color: inherit; 
  color: #FAFAFA; 
}

::placeholder {
  color: #FAFAFA;
}


.clear-btn {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  font-size: 20px;
  color: #E8EEFE;
  cursor: pointer;
  outline: none;
}

.clear-btn:hover {
  color: #fa5c5c;
}

.btn {
  width: 230px;
  height: 48px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
}

.btn-primary {
  margin-top: 2rem;
  background-color: #94B1F9;
  color: #292F4A;
}

.discord-login {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.btn-secondary {
  background-color: inherit;
  border: solid 1px #94B1F9;
  color: #94B1F9;
  margin-bottom: 2rem;
}

a {
  color: #FAFAFA;
}

/* Estilos para móviles */
@media (max-width: 480px) {
  .img-avatar {
    margin: 0 0 2rem 0;
  }
  .login-container {
    width: 372px;
    font-size: small;
  }
  img {
    width: 106px;
    height: 106px;
  }
  .form-group {
    width: 100%;
    height: 40px;
  }
  input {
    font-size: small;
  }
  .btn {
    font-size: small;
    width: 184px;
    height: 31px;
  }
  .btn-secondary {
    margin-bottom: 1rem;
  }
}
