<body>
    <div *ngIf="message === 'Correo verificado exitosamente.'; else notVerified" class="container-verify-email">
        <h2>¡Muy Bien!</h2>
        <p>Se ha confirmado tu correo</p>
        <img src="assets/login/avatar-login.jpg" alt="avatar de usuario" />
        <button (click)="navigateToLogin()" class="btn">Inicia sesión</button>
    </div>

    <ng-template #notVerified>
        <div class="container-verify-email">
            <h2>¡Ups!</h2>
            <p>{{ message }}</p>
            <svg xmlns="http://www.w3.org/2000/svg" width="152" height="152" viewBox="0 0 24 24">
                <rect width="24" height="24" fill="none" />
                <path fill="red"
                    d="M12 17q.425 0 .713-.288T13 16t-.288-.712T12 15t-.712.288T11 16t.288.713T12 17m-1-4h2V7h-2zm1 9q-2.075 0-3.9-.788t-3.175-2.137T2.788 15.9T2 12t.788-3.9t2.137-3.175T8.1 2.788T12 2t3.9.788t3.175 2.137T21.213 8.1T22 12t-.788 3.9t-2.137 3.175t-3.175 2.138T12 22m0-2q3.35 0 5.675-2.325T20 12t-2.325-5.675T12 4T6.325 6.325T4 12t2.325 5.675T12 20m0-8" />
            </svg>
            <button (click)="navigateToLogin()" class="btn">Inicia sesión</button>
        </div>
    </ng-template>
</body>