@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
    overflow-x: hidden;
}

/* navbar */

:root {
    --navbar-color: #292f4a;
    --letra-navbar: #94b1f9;
    --navitem-active: #f6a1fd;
    --color-blanco: #E8EEFE;
}

.navColor {
    background-color: var(--navbar-color);
}

.letra-navbar,
.btnNoti {
    color: var(--letra-navbar);
}

.nav-link:hover,
.nav-link:hover .btnNavBajo,
.btnNoti:hover,
.nav-link:active,
.nav-link:focus {
    color: var(--navitem-active) !important;
}

.nav-link:active {
    text-decoration: underline;
}

.btnBienvenida,
.btnNavBajo {
    background-color: var(--navbar-color);
    border-color: var(--letra-navbar);
    color: var(--letra-navbar);
}

.btnBienvenida:hover {
    background-color: var(--navitem-active);
    color: var(--navbar-color);
    border-color: var(--navbar-color);
}

.nav-link:active .btnNavBajo {
    background-color: var(--navitem-active);
    color: var(--navbar-color);
}

/* Comunidades */

.btnComunidades,
.letra {
    color: var(--color-blanco);
}

.btnComunidades:hover, 
.btnComunidades.active {
    color: var(--letra-navbar);
}

.btnComunidades.active {
    border-bottom: 2px solid var(--letra-navbar);
}

.button-Ver {
    position: absolute;
    margin-top: 4%;
    margin-left: 78%;
    background-color: var(--navbar-color);
    border: var(--letra-navbar) solid 1px;
    color: var(--letra-navbar);
    border-radius: 20px;
    padding: 4px 13px;
    font-size: 10px;
}

.button-Ver:hover {
    color: var(--color-blanco);
    border: solid var(--color-blanco) 1px;
}

/* Footer */

.footer {
    border-top: 2px solid var(--letra-navbar);
}