/* Banner de plataforma */
.banner-platform {
    width: 100%;
    height: 90px;
    background-color: #94B1F9;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.icons {
    width: 100%;
    display: flex;
    align-items: center;
}

.icon svg,
img {
    margin: 0 10px;
}

/* Servicios */
.banner-services {
    width: 100%;
    min-height: 332px;
    background-color: #292F4A;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 40px;
}

.container-services {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.services {
    width: 252px;
    height: 109px;
    border: solid 1px #f6a1fd;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.banner-services button {
    width: 198px;
    height: 47px;
    color: #292f4aff;
    font-weight: 600;
    border: none;
    border-radius: 50px;
    background-color: #94B1F9;
    cursor: pointer;
}

/* Comunidades y eventos */
.banner-events-communities {
    width: 100%;
    height: 720px;
    background-color: #353C60;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem;
}

.button-join {
    width: 198px;
    height: 47px;
    padding: 10px 20px;
    color: #292f4aff;
    font-weight: 600;
    border: none;
    border-radius: 50px;
    background-color: #94B1F9;
    cursor: pointer;
}

/* Sección principal */
.event-section {
    width: 100%;
    max-width: 1076px;
    height: auto;
    overflow: hidden;
    position: relative;
    margin-bottom:1rem ;
    padding: 1rem;
}

.section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}

.section-header h4 {
    color: #E8EEFE;
    font-size: 1.5rem;
}

.section-header a {
    color: #94B1F9;
    text-decoration: none;
    transition: color 0.3s ease;
}

.section-header a:hover {
    color: #E8EEFE;
}

.event-list-container {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
}

.event-list {
    display: flex;
    animation: scroll-carousel 25s linear infinite;
}

@keyframes scroll-carousel {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-150%);
    }
}

.event-card {
    width: 496px;
    height: 173px;
    background-color: #434D7B;
    border-radius: 0.5rem;
    padding: 16px;
    margin-right: 1rem;
    display: inline-block;
    scroll-snap-align: start;
    flex-shrink: 0;
    display: flex;
}

.event-card img {
    width: 159px;
    height: 141px;
    object-fit: cover;
    border-radius: 6px;
    margin: 0 10px 0 0;
}

.event-details {
    width: 100%;
    color: #E8EEFE;
}

.event-details p {
    font-size: small;
}

.register-button {
    position: relative;
    top: 85%;
    right: 15%;
    padding: 0 5px;
    height: 30px;
    font-size: small;
    background-color: #292F4A;
    color: #94B1F9;
    border: solid 1px #94B1F9;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.1s ease;
}

.register-button:hover {
    background-color: #353C60;
}

.event-info {
    display: flex;
    gap: 8px;
}

.event-info span {
    display: flex;
    align-items: center;
}

.event-info span svg {
    margin-right: 0.5rem;
}

/* Ofertas */
.banner-offers {
    width: 100%;
    min-height: 716px;
    background-color: #292F4A;
    display: grid;
    place-content: center;
    gap: 20px;
}

.banner-offers h2 {
    color: white;
    text-align: center;
}

.offers-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.offer-card {
    width: 329px;
    height: 506px;
    color: white;
    border: solid 2px #f6a1fd;
    border-radius: 10px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.offer-card-2 {
    width: 329px;
    height: 506px;
    color: white;
    background-color: #434D7B;
    border-radius: 10px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.icons {
    display: flex;
    justify-content: center;
}

.offer-card button,
.offer-card-2 button {
    width: 264px;
    height: 47px;
    font-weight: 600;
    border-radius: 50px;
    cursor: pointer;
}

.offer-card button {
    background-color: #292f4aff;
    color: #94b1f9ff;
    border: solid 1px #94b1f9ff;
}

.offer-card-2 button {
    background-color: #94b1f9ff;
    color: #292f4aff;
    border: none;
}

/* Listas */
ul {
    list-style-position: inside;
    padding-left: 20px;
}

li {
    line-height: 1.5;
}

/* Comentarios */
.banner-comments {
    width: 100%;
    min-height: 818px;
    padding: 40px 0;
    background-color: #353C60;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center
}

.card-comment {
    width: 346px;
    max-width: 401px;
    background-color: #e8eefeff;
    color: #092466ff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 40px;
}

.card-comment img {
    width: 170px;
    height: 170px;
    border-radius: 50%;
}

.card-comment p {
    font-size: large;
    font-weight: 600;
    text-align: start;
}

.info-user {
    width: 100%;
    text-align: right;
}

.banner-comments button {
    width: 200px;
    height: 48px;
    color: #292f4aff;
    font-weight: 600;
    border: none;
    border-radius: 50px;
    background-color: #94B1F9;
    cursor: pointer;
}

.banner-qa {
    width: 100%;
    height: 712px;
    background-color: #94b1f9;
    color: #092466;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.accordion {
    width: 100%;
    max-width: 800px;
    height: auto;
    margin: 0 auto;
}

.accordion-header {
    border: none;
    background-color: #434D7B;
}

.accordion-button {
    color: white;
    background-color: #434D7B;
    border: none;
}

.accordion-body {
    color: #091038;
    background-color: transparent;
}

.accordion-button:not(.collapsed) {
    background-color: transparent;
    box-shadow: none;
}

.accordion-button:focus {
    box-shadow: none;
}

.accordion-collapse {
    background-color: #94B1F9;
    border: solid 2px #292F4A;
}

/* Media Queries */
/* Estilos para teléfonos pequeños */
@media (max-width: 480px) {
    .banner-platform {
        flex-direction: column;
        font-size: small;
        gap: 5px;
    }

    svg {
        width: 35px;
        height: 35px;
    }

    .banner-services {
        padding: 20px;
        font-size: small;
    }

    .container-services {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }

    .services {
        width: 182px;
        height: 150px;
        padding: 20px 0;
        background-color: #09103A4D;
        border: none;
    }

    .banner-events-communities {
        height: 920px;
        padding: 20px;
        justify-content: center;
    }

    .event-section {
        padding: 0.5rem;
        margin-bottom: 1rem;
    }

    .section-header h4 {
        font-size: 1.2rem;
    }

    .event-card {
        width: 100%;
        height: auto;
        margin-right: 0;
        margin-bottom: 1rem;
    }

    .event-card img {
        width: 60px;
        height: 60px;
        margin: 0 10px 0 0;
    }

    .event-details {
        padding: 0;
        text-align: start;
    }

    .event-details svg {
        width: 13px;
        height: 13px;
    }

    .register-button {
        z-index: 1000000;
        width: 0;
        height: 0;
        overflow: hidden;
        border: none;
    }

    .event-list {
        flex-direction: column;
        animation: none;
        /* Desactiva la animación en móviles */
    }

    .event-list-container {
        overflow: visible;
        white-space: normal;
    }

    h3 {
        font-size: 14px;
        font-weight: 400;
    }

    .banner-offers {
        padding: 20px 0;
    }

    .offer-card {
        width: 265px;
        height: auto;
        padding: 8px 15px;
        background-color: #292F4A;
    }

    .offer-card svg {
        width: 19px;
        height: 19px;
    }

    .offer-card h4,
    p {
        text-align: center;
    }

    .icons svg {
        width: 19px;
        height: 19px;
    }

    .offer-card-2 {
        width: 265px;
        height: auto;
        background-color: #434D7B;
    }

    .offer-card-res {
        background-color: #292F4A;
    }

    .offer-card button {
        width: 160px;
        height: 32px;
    }

    .offer-card-2 button {
        width: 160px;
        height: 32px;
    }

    .banner-comments {
        text-align: center;
    }

    .card-comment {
        width: 212px;
        height: auto;
    }

    .card-comment img {
        width: 66px;
        height: 66px;

        font-size: small;
    }

    .banner-qa {
        padding: 20px;
    }
}

/* Estilos para móviles grandes y tablets pequeñas */
@media (min-width: 481px) and (max-width: 768px) {
    .banner-services {
        padding: 20px;
    }

    .container-services {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }

    .services {
        width: 350px;
        height: 210px;
    }

    .banner-offers {
        padding: 20px;
    }
}