/* Estilos generales */
body {
    background: url('/assets/login/login-background.jpg') center / cover no-repeat fixed;
    display: flex;
    align-items: center;
    justify-content: center;
}

.signup-container {
    width: 980px;
    height: auto;
    padding: 32px;
    margin: 1rem;
    background-color: #292F4A;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    color: white;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Formulario de registro */
.avatar {
    width: 200px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.avatar img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.text-avatar {
    display: flex;
    flex-direction: column;
}

.upload-img span {
    color: #94B1F9;
    cursor: pointer;
}

.upload-img svg {
    margin-left: 0.5rem;
}

.signup-form {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.dbasic {
    width: 100%;
    text-align: left;
}

.form-grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.form-column {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 15px;
}

.form-group input,
.form-group select {
    width: 100%;
    padding: 15px;
    background-color: inherit;
    color: white;
    border: 1px solid white;
    border-radius: 10px;
    text-align: center;
    outline: none;
    transition: border-color 0.3s ease;
}

.form-group input::placeholder {
    color: white;
    text-align: center;
}

.form-group input:focus,
.form-group select:focus {
    border-color: #94B1F9;
}

.form-group select {
    appearance: none;
    background-color: inherit;
}

.form-group select option {
    background-color: #292F4A;
    color: #FAFAFA;
}

/* Mensajes de error */
.error {
    width: 100%;
    text-align: center;
    color: red;
    font-size: 1rem;
}

/* Mensajes de error */
.error {
    color: red;
    font-size: 0.875rem;
    margin-top: 0.25rem;
}

.echeck {
    text-align: start;
}

/* Spinner de carga */
.spinner {
    width: 30px;
    height: 30px;
    border: 4px solid white;
    border-top: 4px solid #94B1F9;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    margin: 10px auto;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

/* Grupos de checkbox */
.checkbox-group {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    margin: 1rem 0;
}

.checkbox-item {
    display: flex;
    flex-direction: column;
}

.checkbox-text {
    display: flex;
    align-items: start;
    gap: 0.5rem;
}

.checkbox-item input[type="checkbox"] {
    appearance: none;
    width: 19px;
    height: 19px;
    border: 2px solid #E8EEFE;
    border-radius: 4px;
    background-color: transparent;
    cursor: pointer;
}

.checkbox-item input[type="checkbox"]:checked {
    background-color: #E8EEFE;
    position: relative;
}

.checkbox-item input[type="checkbox"]:checked::after {
    content: '\2714';
    color: #292F4A;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.checkbox-item label {
    line-height: 1.4;
}

/* Botones */
.submit-button,
.discord-button {
    width: 231px;
    height: 47px;
    margin: 1rem 0;
    padding: 0.5rem;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submit-button {
    background-color: #94B1F9;
    color: #292F4A;
    border: none;
}

.submit-button:hover {
    background-color: #7b96e3;
}

.discord-button {
    background-color: #292F4A;
    color: #94B1F9;
    border: 2px solid #94B1F9;
}

.discord-button:hover {
    background-color: #1d253a;
}

hr {
    width: 100%;
    height: 2px;
    background-color: white;
}

/* Enlaces */
a {
    color: white;
}

/* Estilos Responsivos para dispositivos móviles */
@media (max-width: 480px) {
    body {
        padding: 70px 0;
        align-items: flex-start;
        font-size: small;
    }

    .signup-container {
        width: 340px;
        height: 1078px;
        padding: 0.5em;
    }

    .avatar {
        justify-content: space-around;
    }

    .signup-form {
        width: 100%;
        padding: 1rem;
    }

    .form-group input,
    select {
        height: 48px;
    }

    .echeck {
        font-size: 12px;
        text-align: center;
    }

    .form-grid {
        grid-template-columns: 1fr;
        gap: 0;
    }

    .checkbox-group {
        grid-template-columns: 1fr;
    }

    .checkbox-text label {
        font-size: 10px;
    }

    .checkbox-item input[type="checkbox"] {
        width: 19px;
        height: 19px;
    }

    .submit-button,
    .discord-button {
        width: 184px;
        height: 31px;
        padding: 0;
        margin: 0;
    }

    hr {
        margin-top: 3rem;
    }
}