body {
    background-image: url('/assets/login/login-background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: grid;
    place-content: center;
}

.edit-container {
    width: 870px;
    height: auto;

    text-align: center;
    border-radius: 10px;
    background-color: #292F4A;
    color: white;
    padding: 30px 120px 30px 120px;
}

.form-section {
    margin-bottom: 10px;
}

h6 {
    text-align: left;
    margin-bottom: 1rem;
}

.form-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

input {
    width: 100%;
    padding: 0.5rem;
    background-color: inherit;
    border: 1px solid white;
    color: white;
    margin-bottom: 0.5rem;
    border-radius: 5px;
    font-size: 1rem;
}

input::placeholder {
    color: white;
    text-align: center;
    font-size: small;
}

input:focus {
    border-color: #94B1F9;
    outline: none;
}

.form-submit {
    text-align: center;
}

button {
    padding: 0.75rem 2rem;
    font-size: 1rem;
    font-weight: 600;
    color: #292F4A;
    background-color: #94B1F9;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    margin: 20px;
}

button:hover {
    background-color: #9fb7f5;
}

hr {
    color: white;
    height: 2px;
}

a {
    color: white;
}