<body>
    <div class="edit-container">
        <form class="form-container">
            <!-- Sección 1: Datos de Usuario -->
            <div class="form-section">
                <h6>Datos de Usuario</h6>
                <div class="form-grid">
                    <!-- Columna 1 -->
                    <div>
                        <input type="text" id="name" placeholder="Nombre">
                        <input type="text" id="username" placeholder="Username">
                        <input type="text" id="country" placeholder="País">
                    </div>
                    <!-- Columna 2 -->
                    <div>
                        <input type="text" id="apellido" placeholder="Apellido">
                        <input type="date" id="fecha-nacimiento">
                        <input type="text" id="Zina horaria" placeholder="Confirme su contraseña">
                    </div>
                </div>
            </div>

            <!-- Sección 2: Datos Adicionales -->
            <div class="form-section">
                <h6>Datos Adicionales</h6>
                <div class="form-grid">
                    <!-- Columna 1 -->
                    <div>
                        <input type="text" id="games" placeholder="Juegos favoritos">
                        <input type="text" id="hability" placeholder="Nivel de habilidad">
                    </div>
                    <!-- Columna 2 -->
                    <div>
                        <input type="text" id="platform" placeholder="Dispositivos">
                    </div>
                </div>
            </div>

            <!-- Botón de Enviar -->
            <div class="form-submit">
                <button type="submit">Editar perfil</button>
            </div>
        </form>
        <hr>
        <a routerLink="/user-profile">Volver al perfil</a>
    </div>
</body>