/* Importación fuente google font "Roboto" */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    font-family: "Roboto", serif;
    color: #E8EEFE;
}

/* estilos, fuentes, colores, etc */

:root {
    /* Tipografía */
    --font-roboto: "Roboto", serif;

    /* Paleta de colores */
    --background: #292F4A;
    --button-o: #434D7B;
    --button-2: #292F4A;
    --font-button: #94B1F9;
    --icon-claro: #E8EEFE;
    --background-card: #434D7B;
    --card-oscuro: #1F2439;

    /* hoover */
    --perm-font-btn: #F6A1FD;
    --hover-font: #E8EEFE;
}

main{
    background-color:#434D7B;
    display: flex;
    justify-content: center;

}

section{
    width: 60%;
    padding: 3%;
    border-radius: 10px;
    margin-top: 4%;
    background-color: #353c60;
}

h1{
    font-size: 15px;
}

.form-img{
    display: flex;
    justify-content: space-between;
    width: 80%;
    font-size: 12px;
    margin-bottom: 2%;
}

.img-form{
    width: 40%;
    margin-right: 16%;
    position: relative;
}

.img-form img{
    object-fit: cover;
    width: 100%;
}

.button{
    background-color:#292F4A;
    width: 60%;
    padding: 5%;
    border-radius: 20px;
    align-items: center;
    text-align: center;
    color: #94B1F9;
}

.button fa-icon{
    margin-left:15%;
    color: #94B1F9;
}

.gradient{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(148,177,249);
    background: linear-gradient(162deg, rgba(148, 176, 249, 0.455) 0%, rgba(245, 161, 253, 0.575) 10%,
     rgba(9, 35, 102, 0.459) 19%, rgba(12, 46, 133, 0.393) 55%, rgba(148, 176, 249, 0.371) 80%, rgba(245, 161, 253, 0.349) 100%);
}

h3{
    font-size: 13px;
    font-weight: 400;
    margin-top: 3%;
}

.conta-info{
    /* border: solid; */
    width: 50%;
}

.form-control{
    color:#E8EEFE;
    background-color: #353c60;
    font-size: 12px;
    align-items: center;
    text-align: center;
    margin-bottom: 3%;
}

.icon{
    position: absolute;
    margin-left: 88%;
    margin-top: 1%;
}

.create-team{
    background-color:#94B1F9;
    padding: 1% 3% 1% 3%;
    font-size: 12px;
    color: #1F2439;
    border: none;
    border-radius: 15px;
    margin-top: 2%;
    align-items: center;
    margin-left: 42%;
}