/* Banner de búsqueda */
.search-container {
    width: 100%;
    height: 250px;
    background-image: url('../../../../public/assets/landing/banner.jpg');
    background-size: cover;
    /* Ajusta la imagen para cubrir el contenedor */
    background-position: center;
    /* Centra la imagen */
    background-repeat: no-repeat;
    /* Evita que la imagen se repita */
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.search-input {
    width: 550px;
    height: 50px;
    border: solid 1px white;
    border-radius: 50px;
    background-color: #353C60;
    color: white;
    padding: 1rem;
    text-align: center;
}

.search-input::placeholder {
    text-align: start;
    font-weight: 400;
    color: white;
    font-size: 15px;
}

.search-input:focus {
    outline: none;
}

.filters-container {
    width: 30%;
    display: flex;
}

.filters-toggle-button {
    width: 87px;
    height: 36px;
    border: solid 1px #94B1F9;
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: 1rem;

    background-color: #292F4A;
    color: #94B1F9;
    font-size: small;
}

.filters {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.filters label {
    padding: 5px 15px;
    background-color: #434D7B;
    color: white;
    display: flex;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
    font-size: 11px;
    gap: 10px;
}

.filters input {
    background-color: #94B1F9;
    margin: 0;
    padding: 0;
}

.filters input[type="checkbox"] {
    appearance: none;
    width: 14px;
    height: 14px;
    border: 2px solid #E8EEFE;
    border-radius: 4px;
    background-color: transparent;
    cursor: pointer;
}

.filters input[type="checkbox"]:checked {
    background-color: #E8EEFE;
    position: relative;
}

.filters input[type="checkbox"]:checked::after {
    content: '\2714';
    color: #292F4A;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.results-container {
    width: 100vw;
    height: auto;
    background-color: #292F4A;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.results {
    width: 850px;
    height: auto;

    background-color: #292F4A;
    color: white;
}

.results h2 {
    margin: 40px 0;
}

.no-results {
    color: white;
    text-align: center;
    margin: 1rem;
}

.results h4 {
    margin: 20px 0;
}

.result-item {
    width: 100%;
    height: auto;

    background-color: #434D7B;
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding: 1rem;
    gap: 1rem;
    margin-bottom: 1rem;
}

.img-result {
    width: 215px;
    height: 98px;
    border-radius: 5px;
    object-fit: cover;
}

.img-user {
    width: 98px;
    height: 98px;
    border-radius: 50%;
    object-fit: cover;
}

.result-description {
    display: flex;
    flex-direction: column;
}

.medal-result {
    display: flex;
    align-items: flex-start;
    justify-content: first baseline;
    gap: 1rem;
    margin-top: 10px;
}

@media (max-width: 480px) {
    .search-container {
        height: 380px;
    }

    .search-input {
        position: relative;
        top: 20%;
        width: 370px;
        height: 36px;
    }

    .filters-container {
        width: 103%;
        height: 200px;
        flex-direction: column;
    }

    .filters-toggle-button {
        position: relative;
        top: 40%;
    }

    .filters {
        position: relative;
        top: 40%;
        flex-direction: column;
        align-items: start;
        margin-left: 1rem;
        gap: 5px;
    }

    .results-container {
        justify-content: initial;
        padding: 1rem 2rem;
    }
    
    .result-item  {
        width: 335px;
        height: 110px;
    }
    
    .result-item img {
        width: 60px;
        height: 60px;
    }

    .description-container {
        width: 265px;
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: small;
    }

    .medal-result {
        margin-left: 1.5rem;
        flex-direction: column;
        align-items: center;
        gap: 0;
    }

    .medal {
        display: flex;
        justify-content: center;
    }

    .result-description {
        font-size: small;
        line-height: 0.5;
    }
}