/* Banner de búsqueda */
.search-container {
    width: 100%;
    min-height: 250px;
    background-image: url('../../../../public/assets/landing/banner.jpg');
    background-size: cover;
    background-position: center;
    place-content: center;
    position: relative;
}

.search-input {
    width: 550px;
    height: 50px;
    border: none;
    border-radius: 50px;
    padding: 1rem;
    text-align: center;
    margin-left: 31%;
}

.search-input::placeholder {
    text-align: start;
    font-weight: 400;
    color:#292F4A;
    font-size: 15px;
}

.search-input:focus {
    outline: none;
}

.filters-container {
    width: 30%;
    margin-left: 31%;
    display: flex;
}

.filters-toggle-button {
    width: 30%;
    margin: 2% 0;
    padding: 2% 6%;
    background-color: #94B1F9;
    color: #292F4A;
    font-weight: 400;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    gap: 15px;
    align-items: center;
    font-size: 12px;
}

.filters {
    display: flex;
    gap: 15px;
    color: white;
    width: 100%;
}

.filters label {
    padding: 1% 4%;
    background-color: #434D7B;
    display: flex;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
    font-size: 11px;
    gap: 10px;
}

.filters input {
    background-color: #94B1F9;
    margin: 0;
    padding: 0;
}

.results-container {
    width: 100vw;
    height: auto;
    background-color: #292F4A;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.results {
    width: 850px;
    height: auto;

    background-color: #292F4A;
    color: white;
}

.results h2 {
    margin: 40px 0;
}

.no-results {
    color: white;
    text-align: center;
    margin: 1rem;
}

.results h4 {
    margin: 20px 0;
}

.result-item {
    width: 100%;
    height: auto;

    background-color: #434D7B;
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding: 1rem;
    gap: 1rem;
    margin-bottom: 1rem;
}

.img-result {
    width: 215px;
    height: 98px;
    border-radius: 5px;
    object-fit: cover;
}

.img-user {
    width: 98px;
    height: 98px;
    border-radius: 50%;
    object-fit: cover;
}

.result-description {
    display: flex;
    flex-direction: column;
}

.medal-result {
    display: flex;
    align-items: flex-start;
    justify-content: first baseline;
    gap: 1rem;
    margin-top: 10px;
}

@media (max-width: 480px) {
    .banner-search {
        background-image: url('../../../../public/assets/landing/banner-mobile.jpg');
    }

    .banner-search input {
        width: 350px;
        background-color: #03071E80;
        border: solid 2px #FCA311;
        color: white;
    }

    .banner-search input::placeholder {
        color: white;
    }
}